input {
    background-color:  transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    width: 100%;
}
#Form { 
    color: white;
    width : 400px;
    margin: auto;
    background-color: #25acac;
    padding: 10px 40px;
}
label{
    padding-right: 20px;
}
